---
import HomeSider from '@components/layout/HomeSider.astro';
import PostList from '@components/post/PostList.astro';
import Cover from '@components/ui/cover/Cover.astro';
import { seoConfig } from '@constants/site-config';
import Layout from '@layouts/Layout.astro';
import TwoColumnLayout from '@layouts/TwoColumnLayout.astro';
import { getSortedCryptos } from '@lib/content';

const cryptoCollections = await getSortedCryptos();
---

<Layout title={`加密货币归档 | ${seoConfig.title}`}>
  <TwoColumnLayout>
    <Cover slot="cover" title="加密货币归档" description="所有加密货币分析文章" />
    <HomeSider slot="sider" />
    <div class="shadow-box bg-gradient-start tablet:shadow-none flex flex-col gap-4 overflow-hidden p-4 pt-8 md:px-1 md:py-2">
      <PostList posts={cryptoCollections} showPaginator={true} />
    </div>
  </TwoColumnLayout>
</Layout>
